* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 20px;
  font-family: Tahoma;

}

/* Center website */
.main {
  margin-left: 200px;
  max-width: 2000px;
}

.header {
  max-width: 200px;
  margin: auto;
   height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 170px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  left: 1;
  padding: 10px;
}

h1 {
  font-size: 35px;
  font-family: Tahoma;
}

h2 {
  font-size: 18px;
  word-break: break-all;
  font-family: Tahoma;
}


.column img {
  vertical-align: middle;
  padding: 120px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  display: none; /* Hide all elements by default */
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 8px 15px;
  background-color: white;
  cursor: pointer;
  color: gray;
}

.btn:hover {
  color: lightgray;
}

.btn.active {
  color: black;
}


a.nav-link:link
{
   color: black;
   text-decoration: none;
}

a.nav-link:visited
{
   color: black;
   text-decoration: none;
}

a.nav-link:hover
{
   color: lightgray;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}



  

.clickable {
    transition: transform .2s; /* Animation */

}

.clickable:hover {
 transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

